@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300&family=Montserrat:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(40,38,76);
  font-family: 'Barlow Condensed', sans-serif;
}

.card-deck {
  width: 100%;
  background-color: rgb(255,255,255);
  margin-top: 7%;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.card {
  width: 90%;
  height: auto;
  /* margin: 20px; */
  background-color: rgb(255,255,255);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-color: white;
  color: rgb(40,38,76);
  font-weight: bold;
  margin-top: 5rem;
  margin-bottom: 5rem !important;
}

.btn {
  width: 100%;
  padding: 12px;
  margin-top: -.5rem;
  font-weight: bold;
}

.card-body .tag {
  margin-top: 12%;
  font-size: 2rem;
  font-weight: bold;
}
.card-body .sub {
    vertical-align: super;
    font-size: smaller;
    letter-spacing: 3px;
    font-size: 1rem;
}

.card-body .top {
    margin-top: -1rem;
}

.card-body .wrap {
    width: 45%;
    margin: 0 auto;
    margin-top: 2rem;
}

.btn-info {
    width: 80%;
    border: 2px solid rgb(40,38,76);
    background: white;
    margin-top: 3rem;
    color: rgb(40,38,76);
    padding: 15px;
    font-weight: bold;
}

.icons {
    text-align: left;
    margin-top: 3rem;
    margin-left: 1.5rem;
}

.icons .green {
    color: rgb(122, 206, 132);
    border: none !important;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 5px;
}

.icons .red {
    color: rgb(228, 82, 82);
    font-size: 1.2rem;
    margin: 10px;
}

.chgcolor1 {
    background: linear-gradient(to right, rgb(194,203,255), rgb(180,121,254)
    );
    color: white;
}

.chgcolor2 {
    background: rgb(40,38,76);
    color: white;
}

.chgcolor3 {
    background: linear-gradient(to right, rgb(255,179,187), rgb(255,200,123));
    color: white;
}
.tag {
    font-family: 'Roboto', sans-serif;
}

.tag span {
    font-size: 1rem;
}

 


@media screen and (max-width: 768px) {
    .card-deck {
        flex-direction: column;
    }
    .card {
        margin-top: 3rem;
        margin-bottom: .5rem !important;
        margin: 2rem auto !important;
    }

    .card-body .wrap {
        width: 30%;
    }
}